@use "../settings/globals.scss" as var;

%topIcon {
  color: #c4c4c4;
  background: #c4c4c4;
  svg {
    font-size: 2.4rem;
  }
}

%menuIcon {
  color: #c4c4c4;
  background: #c4c4c4;
  svg {
    font-size: 1.5rem;
  }
}
